
<h1 mat-dialog-title>Change Shift</h1>
<div mat-dialog-content>
  <h4>New Shift</h4>
  <mat-form-field appearance="fill">
    <mat-select>
      <mat-option value="one">4:00 AM - 10:00  AM</mat-option>
      <mat-option value="two">10:00 AM - 4:00  PM</mat-option>
      <mat-option value="one">4:00 PM - 10:00  PM</mat-option>
      <mat-option value="two">10:00 AM - 4:00  AM</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions style="float: right;">
  <button mat-flat-button mat-dialog-close color="warn">Close</button>
  <button mat-flat-button color="accent">Submit</button>
</div>
