<mat-card class="employeeInfo">
    <div class="header">
      <span class="title">Employee Details</span>
    </div>
    <mat-divider></mat-divider>
    <mat-card-content>
      <form >
        <div class="row">
          <div class="col-30" >
            <label >First Name</label>
            <input type="text"/>
          </div>
          <div class="col-30">
            <label>Last Name</label>
            <input type="text"/>
          </div>
          <div class="col-30">
            <label>Birth</label>
            <input type="date"/>
          </div>
        </div>
        <div class="row">
          <div class="col-30" >
            <label >Email</label>
            <input type="email"/>
          </div>
          <div class="col-30">
            <label>Contact No</label>
            <input type="text"/>
          </div>
          <div class="col-30">
            <label>Adress</label>
            <input type="text"/>
          </div>
        </div>
        <div class="row">
          <div class="col-30" >
            <label >Staff</label>
            <input type="email"/>
          </div>
          <div class="col-30">
            <label>Shift</label>
            <input type="text"/>
          </div>
          <div class="col-30">
            <label>Salary</label>
            <input type="text"/>
          </div>
        </div>
      
       
        
      </form>
    </mat-card-content>
  
  </mat-card>
  <div  class="text-center mt-20">
    <button mat-raised-button color="warn">Reset</button>
    <button mat-raised-button color="accent" class="ml-20">Submit</button>  
  </div>
 